# exclude all the zip files
**/*.zip
**/*.log
dat/tmp/**
dat/aspark-starter/**
target/**
**/*.class
src/scala/aspark-starter/target/**
src/scala/aspark-starter/project/project/target/**
src/scala/aspark-starter/project/target/**
dat/tests/*.txt
cnf/hosts/host-name/home/ysg/.spark_opts.host-name.*
cnf/hosts/host-name/home/ysg/.profile_opts.host-name.*
cnf/hosts/host-name/home/ysg/.java_opts.host-name.*
cnf/hosts/host-name/home/ysg/.bash_opts.host-name.*
cnf/hosts/host-name/home/ysg/.hadoop_opts.host-name.*
cnf/hosts/host-name/usr/local/hadoop/hadoop-2.7.4/etc/hadoop/hadoop-env.sh.
metastore_db/**
dat/out/**
src/scala/aspark-starter/metastore_db/**
