# exclude all the zip files
**/*.zip
**/*.log
dat/tmp/**
dat/aspark-starter/**
target/**
**/*.class
src/scala/aspark-starter/target/**
src/scala/aspark-starter/project/project/target/**
src/scala/aspark-starter/project/target/**
dat/tests/*.txt
