# file: cnf/aspark-starter.dev.host-name.cnf
[MAIN_SETTINGS]

# the id from the url of the google spread sheet
google_spread_sheet_id = 1-oYPtBM8PG_FUogk40RDmcM_Xzq91Tb81Zlyi0cMwYQ

# multiple projects support
aspark_starter_project = aspark_starter

sql_dir = $product_instance_dir/src/sql/pgsql/tst_aspark_starter

# where are stored the txt issues files
proj_daily_data_root_dir = /vagrant/csitea/aspark-starter/data/txt/issues

# The logging directory 
LogDir = %ProductInstanceDir%/dat/log

# the default Log file
LogFile =         %LogDir%/%ProductName%.log

# the default chars separating the time from the txt
LogTimeToTextSeparator = ###

# whether or not to log to a file
LogToFile =          1

# the time format of the logging 
TimeFormat =         YYYY.MM.DD - hh:mm:ss

# the time format of the logging 
DbType 	=         postgres

# the log file
LogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log

# the run log file
RunLogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.run.log

# the host on which the mariadb is running 
db_host = host-name

# the pgsql port
db_port = 13306

# OBS ! dev , tst , prd product instances to own db !
db_name   = dev_aspark_starter

aspark_starter_project = aspark-starter

# the mariadb user name
db_user = csitea

# Whether or not to print messages to STDOUT and / or STDERR
PrintConsoleMsgs =               1

# Whether or not to pring INFO messages
PrintInfoMsgs =                  1                             

# Whether or not to pring WARNING messages
PrintWarningMsgs =               1                             

# Whether or not to pring ERROR messages
PrintErrorMsgs =                 1                             

# Whether or not to pring DEBUG messages
PrintDebugMsgs =                 1

# Whether or not to pring TRACE messages
PrintTraceMsgs =                 1 

# to whom to send e-mail whenever bad things happen ...
Emails=yordan.georgiev@gmail.com

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/aspark-starter/dat/zip

# the last one is fake .... because well a bug
foo=bar

# eof file: cnf/aspark-starter.dev.host-name.cnf
